node_modules/
.env
.env.local
*.log
.DS_Store

# Backend
backend/node_modules/

# Website
website/node_modules/
website/out/
website/.next/

# Flutter
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/android/.gradle/
flutter_app/ios/Pods/
flutter_app/ios/.symlinks/
flutter_app/macos/Pods/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
